{{page-title "Voucher"}}

<SearchForm @queryClients={{this.queryClients}} />

{{#if this.queryClients.isRunning}}
  Loading...
{{else}}
  <ul>
    {{#each this.clients as |client|}}
      <li data-test-result>{{client.email}}</li>
    {{/each}}
  </ul>
{{/if}}
{{outlet}}