{{page-title "Voucher"}}

<div class="wrapper">
  <SearchForm @queryClients={{this.queryClients}} />

  <VoucherForm 
      @isLoading={{this.queryClients.isRunning}}
      @clients={{this.clients}}
      @createVoucher={{this.createVoucher}}
      @voucher={{this.voucher}} />
</div>


{{outlet}}